<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/products">Products</a></li>
            <li class="breadcrumb-item active">Checkout</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Checkout Start -->
<div class="checkout">
    <div class="container"> 
        <div class="row">
            <div class="col-md-7">
                <div class="billing-address">
                    <h2>Billing Address</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="FirstName">First Name*</label>
                            <input name="FirstName" id="FirstName" class="form-control" type="text" placeholder="First Name...">
                        </div>
                        <div class="col-md-6">
                            <label for="LastName">Last Name*</label>
                            <input name="LastName" id="LastName" class="form-control" type="text" placeholder="Last Name...">
                        </div>
                        <div class="col-md-6">
                            <label for="Email">E-mail</label>
                            <input name="Email" id="Email" class="form-control" type="text" placeholder="E-mail...">
                        </div>
                        <div class="col-md-6">
                            <label for="Phone">Phone number*</label>
                            <input name="Phone" id="Phone" class="form-control" type="tel" placeholder="Phone number...">
                        </div>
                        <div class="col-md-12">
                            <label for="Address">Address*</label>
                            <input name="Address" id="Address" class="form-control" type="text" placeholder="Address...">
                        </div>
                    </div>
                </div>
                
                
            </div>
            <div class="col-md-5">
                <div class="checkout-summary">
                    <h2>Cart Total</h2>
                    <div class="checkout-content">
                        <h3>Products</h3>
                        <div id="content">
                            <% let total = 0 %>
                            <% if(carts.length > 0) { %>
                                <% for(let cart of carts) { %>
                                    <p><%= cart.product.Name %> &lpar;<%= cart.quantity %>&rpar;<span><%= +cart.product.Price * +cart.quantity %></span></p>
                                    <% total += +cart.product.Price * +cart.quantity %>
                                <% } %>
                            <% } %>
                        </div>
                        <h4>Grand Total<span><%= total %></span></h4>
                    </div>
                </div>
                
                <div class="checkout-payment">
                    <div class="checkout-btn">
                        <button id="payment-btn">Place Order</button>
                    </div>
                </div>
                <span style="display: none;" id="carts"><%= JSON.stringify(carts) %></span>
                <span id="success" class="w-200 text-success" style="font-size: 13px;"></span>
                <span id="error" class="w-200 text-danger" style="font-size: 13px;"></span>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->
<script>
    $(document).ready(function () {
        var getID = '<%= user.id %>';
        var total = '<%= total %>';
        
        function checkout(total, firstName, lastName, email, phone, address, cart) {
            $.ajax({
                url: '/payment',
                data: {total: total, id: getID, firstName: firstName, lastName: lastName, email: email, phone: phone, address: address, cart: cart},
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if(response&&response.success){
                        $('#success').html(response.success);
                        $('#error').remove();
                        $('#content').remove();
                    } else {
                        $('#error').html(response.error);
                        $('#success').remove();
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }

        $('#payment-btn').click(function() {
            let firstName = $('#FirstName').val();
            let lastName = $('#LastName').val();
            let email = $('#Email').val();
            let phone = $('#Phone').val();
            let address = $('#Address').val();
            let cart = JSON.parse($('#carts').html())
            checkout(+total, firstName, lastName, email, phone, address, cart);
        });
        
    });
</script>

<%- include('../partials/footer.ejs') %>