<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<div style="height: 620px;" class="container py-4">
    <span class="fw-bold fs-3"><%= message %></span>
</div>

<%- include('./partials/footer.ejs') %>