<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<!-- Main Slider Start -->
<div class="home-slider">
    <div class="main-slider">
        <div class="main-slider-item"><img src="img/slider-1.jpg" alt="Slider Image" /></div>
        <div class="main-slider-item"><img src="img/slider-2.jpg" alt="Slider Image" /></div>
        <div class="main-slider-item"><img src="img/slider-3.jpg" alt="Slider Image" /></div>
    </div>
</div>
<!-- Main Slider End -->


<!-- Feature Start-->
<div class="feature">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-shield"></i>
                    <h2>Trusted Shopping</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-shopping-bag"></i>
                    <h2>Quality Product</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>Worldwide Delivery</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-phone"></i>
                    <h2>Telephone Support</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End-->


<!-- Category Start-->
<div class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="category-img">
                    <img src="/img/category-1.jpg" />
                    <a class="category-name" href="/products?category=Shirt">
                        <h2>Shirt</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="category-img">
                    <img src="/img/category-3.jpg" />
                    <a class="category-name" href="/products?category=Jeans">
                        <h2>Jeans</h2>
                    </a>
                </div>
                <div class="category-img">
                    <img src="/img/category-4.jpg" />
                    <a class="category-name" href="/products?category=Jacket">
                        <h2>Jacket</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="category-img">
                    <img src="/img/category-2.jpg" />
                    <a class="category-name" href="/products?category=Skirt">
                        <h2>Skirt</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category End-->


<!-- Featured Product Start -->
<div class="featured-product">
    <div class="container">
        <div class="section-header">
            <h3>Most Expensive Products</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies. Nullam consequat, mauris non interdum cursus
            </p>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            <% for (let product of expensiveProducts) { %>
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="/product/<%= product.product_id %>">
                                <img src="/img/thumbnails/<%= product.Thumbnail %>" alt="Product Image">
                            </a>
                            <div class="product-action d-flex gap-2 justify-content-center">
                                <form class="add-cart">
                                    <input type="hidden" name="product" id="product" value="<%= JSON.stringify(product) %>">
                                    <input type="hidden" name="quantity" id="quantity" value="1">
                                    <button><i class="fa fa-cart-plus"></i></button>
                                </form>
                                <a href="/product/<%= product.product_id %>"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="title"><a href="/product/<%= product.product_id %>"><%= product.product_name %></a></div>
                            <div class="price">$<%= product.Price %></div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
<!-- Featured Product End -->


<!-- Newsletter Start -->
<div class="newsletter">
    <div class="container">
        <div class="section-header">
            <h3>Subscribe Our Newsletter</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies. Nullam consequat, mauris non interdum cursus
            </p>
        </div>
        <div class="form">
            <input type="email" value="Your email here">
            <button>Submit</button>
        </div>
    </div>
</div>
<!-- Newsletter End -->


<!-- Recent Product Start -->
<div class="recent-product">
    <div class="container">
        <div class="section-header">
            <h3>Newly Re Products</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies. Nullam consequat, mauris non interdum cursus
            </p>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            <% for (let product of newestProducts) { %>
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="/product/<%= product.product_id %>">
                                <img src="/img/thumbnails/<%= product.Thumbnail %>" alt="Product Image">
                            </a>
                            <div class="product-action d-flex gap-2 justify-content-center">
                                <form class="add-cart">
                                    <input type="hidden" name="product" id="product" value="<%= JSON.stringify(product) %>">
                                    <input type="hidden" name="quantity" id="quantity" value="1">
                                    <button><i class="fa fa-cart-plus"></i></button>
                                </form>
                                <a href="/product/<%= product.product_id %>"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="title"><a href="/product/<%= product.product_id %>"><%= product.product_name %></a></div>
                            <div class="price">$<%= product.Price %></div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
<!-- Recent Product End -->


<!-- Brand Start -->
<div class="brand">
    <div class="container">
        <div class="section-header">
            <h3>Our Brands</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies. Nullam consequat, mauris non interdum cursus
            </p>
        </div>
        <div class="brand-slider">
            <div class="brand-item"><img src="img/brand-1.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-2.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-3.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-4.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-5.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-6.png" alt=""></div>
        </div>
    </div>
</div>
<!-- Brand End -->

<%- include('./partials/footer.ejs') %>