<%- include('../partials/head.ejs') %> <%- include('../partials/header.ejs') %>
<%- include('../partials/adminNav.ejs') %>

<style>
  th input {
    border: none;
    outline: none;
  }
</style>

<form
  id="userForm"
  action="/admin/update"
  method="post"
  onsubmit="submitForm()"
>
  <table class="table table-striped-columns">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fullname</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% listUsers.forEach(function(user) { %>
      <tr style="text-decoration: none" hasChange="false">
        <th scope="row"><%= user.id %></th>
        <th>
          <input
            type="text"
            class="userInput"
            data-property="Fullname"
            value="<%= user.Fullname %>"
            oninput="setChange(this)"
          />
        </th>
        <th>
          <input
            type="text"
            class="userInput"
            data-property="Username"
            value="<%= user.Username %>"
            oninput="setChange(this)"
          />
        </th>
        <th>
          <input
            type="text"
            class="userInput"
            data-property="Email"
            value="<%= user.Email %>"
            oninput="setChange(this)"
          />
        </th>
        <th>
          <a href="/admin/delete/<%= user.id %>" class="fa fa-trash"></a>
        </th>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <button type="submit">Edit</button>
</form>

<script src="/js/admin/manage-users.js"></script>
