<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active">Login</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Login Start -->
<div class="login">
    <div style="padding-top: 100px; padding-bottom: 100px;" class="container border border-3 rounded-3">
        <div class="section-header">
            <h3>Welcome To Our Ecommerce Website</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies. Nullam consequat, mauris non interdum cursus
            </p>
        </div>

        <div class="w-100">
            <form method="POST" action="/login" class="login-form">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex flex-column align-items-center justify-content-center w-100">
                        <div class="w-50">
                            <label for="Email">E-mail</label>
                            <input class="form-control" name="Email" id="Email" type="email" placeholder="Email..." required>
                        </div>
                        <div class="w-50">
                            <label for="Password">Password</label>
                            <input class="form-control" name="Password" id="Password" type="password" placeholder="Password..." required>
                        </div>
                        <div class="w-50 form-check" style="font-size: 13px;">
                            <input class="form-check-input" type="checkbox" value="true" name="remember" id="remember">
                            <label class="form-check-label" for="remember">
                                Remember me
                            </label>
                        </div>
                        <!-- <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount">
                                <label class="custom-control-label" for="newaccount">Keep me signed in</label>
                            </div>
                        </div> -->
                        <span class="w-50" style="font-size: 13px;">Don't have an account? <a href="/register">Sign up</a></span>
                        
                        <% for (let error in errors) { %>
                            <span class="w-50 text-danger" style="font-size: 13px;"><%= errors[error] %></span>
                        <% } %>
                    </div>
                    
                    <div class="w-50 mt-4">
                        <button class="btn">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Login End -->

<%- include('../partials/footer.ejs') %>